* {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

body {
  background-color: #efedea;
  margin: 0%;
}

h2{
  text-transform: uppercase;

}

a {
  text-decoration: none;
}

header {
  position: fixed;
  background-color: transparent;
  text-transform: uppercase;
  width: 100%;
  transition: 0.4s;
}

.header-scroll {
  background-color: #efedea;
  transition: 0.4s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header h1 {
  color: #707070
}

.headeritems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  height: 46.5px;
}

.burger {
  z-index: 10;
  padding: 1em;
  color: #707070
}

nav .burger {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 24px;
}

nav .topnav {
  display: flex;
  flex-direction: column;
}

nav .topnav a {
  padding: 12px;
}

nav {
  position: absolute;
  background-color: #e14433e6;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  top: 0;
  align-items: stretch;
  text-align: center;
  text-transform: uppercase;
  font-size: larger;
}

nav a {
  color: #efedea;
  text-decoration: none;
  padding: 12px;
}

.landingimg { 
  width: 100vw;
  background-image: url("../img/DSCF4327.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.landingicon {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  margin-top: -10vh;
  width: 50%;
  margin-left: 25%;
}

.landingicon a {
  width: 15%;
}

h2 a {
  color: black;
  text-decoration: none;
  display: block;
}

.sectionbody {
  margin: 10vw;
}

.about, .projects{
  margin-bottom: 30px;
}

.projects{
  padding-top: 25px;
}

.starth1 h2 {
  padding-bottom: 5px;
  border-bottom: 2px solid #707070;
  margin-bottom: 25px;
}

.magazineproject {
  width: 80vw;
  height: 45vw;
  display: block;
  background-size: cover;
  background-position: center;
  margin-bottom: 5vw;
}

.magazineproject .overlay {
  background: rgb(112,112,112);
  background: linear-gradient(0deg, rgba(112,112,112,0.9) 0%, rgba(112,112,112,0.8) 23%, rgba(112,112,112,0.4) 36%, rgba(112,112,112,0) 42%);  height: 100%;
}

.overlay {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  font-size: 1em;
  justify-content: end;
}

.overlaytext {
  padding: 0.5rem;
  color: #efedea;
}

.overlaytext h3 {
  text-decoration: underline 2px;
}


.projects h3 {
  display: flex;
  align-items: flex-end;
}

.magazinecover {
  width: 100%;
}

img, .items {
  border: 2px;
}

footer {
  width: 100%;
  background-color: #707070;
  text-align: center;
  padding-bottom: 2rem;
}

.buttoncontainer {
  padding-top: 5rem;
}



.footerfont a {
  color: #efedea;
}

.footerlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  padding-left: 10%;
  padding-top: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
 
}

.footerlinks a{
  color: #e04232;
}

.footernav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  align-items: stretch;
  text-align: center;
  text-transform: uppercase;
}

.footernav a {
  padding: 3px;
}



@media screen and (min-width: 860px) {
 
  
  .burger {
    display: none;
  }
  
  nav .topnav {
    display: flex;
    flex-direction: column;
  }
  
  nav .topnav a {
    padding: 12px;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: transparent;
    justify-content: flex-end;
  }
  nav a {
    color: #707070;
  }

  
  .landingicon {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 50%;
    margin-left: 25%;
  }

  .landingicon a {
    width: 64.6px;
  }


  
  .projectsbody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .magazineproject {
    width: 39vw;
    height: 22.5vw;
  }
  
  
  .contactbutton {
    width: 425px;
    height: 30px;
  }
  

}

  @media screen and (min-width: 1001px) {

    .landingimg {
      background-image: url("../img/DSCF4350.jpg");

  }
}


@media screen and (max-width: 520px) {
  .landingicon a{
    width: 39px;
  }
}

@media screen and (min-width: 1230px) {
  .magazinemainimage img{
      width: 1230px;
  }

  .footerlinkscontainer{
  display: flex;
  justify-content: center;
  }

  .footerlinks{
      justify-content: space-between;
      width: 425px;
      padding-left:0;
  }

  .magazinetopcontent{
      width: 984px;

  }
}